* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.weather-container {
    width: 60%;
    min-width: 300px;
    border: none;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1rem;
}

.weather-input,
.weather-btn {
    width: 100%;
}
.weather-input {
    border: none;
    font-size: 1.5rem;
    padding: 15px 10px 10px;
    border-bottom: 2px solid transparent;
}

.weather-input::placeholder {
    font-size: 1.5rem;
}

.weather-input:focus {
    border-bottom-color: #ff3f71;
}

.weather-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5rem;
    background-color: #318f7f;
    color: #fff;
    border: 2px solid #318f7f;
    cursor: pointer;
}

.weather-btn:hover {
    color: #318f7f;
    background-color: #fff;
}

.weather-text {
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #3c3b3b;
}